

$gray: #707070;
$black: #232123;
$c1: #2C2C2E;
$c2: #D44949;
$c4: #000;


// // ----- color variables custom function

@function clr($a, $b: base) {
    $color: map-get(map-get($colors, $a), $b);
    @return $color;
}


$colors: (

    dark:(
        base: #232123,
        050: #1a191a,
        100: #2C2C2E,
        200: #383638,
        300: #4d4c4d,
        400: #707070,
        500: #e0e0e0,
    ),
    text:(
        base: hsl(0, 0%, 90%),
        100: hsl(0, 0%, 20%),
    ),
    icon:(
        base: hsl(0, 0%, 90%),
    ),
    colors:(
        base: #FF6D1B,
        100: #3D846E,
        200: #4285F4,
        300: #D9B534,
        400: #FC766A,
    )

);






/*
@function clr-x($a, $b: a, $c: a3) {
    $color: map-get(map-get(map-get($colorsx, $a), $b), $c);
    @return $color;
}


$colorsx: (

    dark:(
        a: (
            a1: hsl(175, 80%, 10%),
            a2: hsl(175, 80%, 20%),
            a3: hsl(175, 80%, 30%),
            a4: hsl(175, 80%, 40%),
            a5: hsl(175, 80%, 50%),
        ),
        b: (
            a1: hsl(4, 80%, 10%),
            a2: hsl(4, 80%, 20%),
            a3: hsl(4, 80%, 30%),
            a4: hsl(4, 80%, 40%),
            a5: hsl(4, 80%, 50%),
        )    
                
    )

);
*/

