

.boxF{
    position: fixed;
    right: 0;
    // width: 378px;
    width: 20%;
    height: 80%;
    border-radius: 40px;
    display: flex;
    margin-top: 35px;
    margin-bottom: 45px;
    align-items: center;
    flex-direction: column;
    color: white;
    background: linear-gradient(180deg, #232123 0%, #232123 78.65%, #222127 100%);
    overflow: hidden;
    border: 2px solid #707070;
    
    .fContent{
        width: 100%;
        height: 100%;
    }
    
    .friendsContainer{
        width: 100%;
        max-height: 90%;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: inset 0 4px 8px -8px rgba(0, 0, 0, 50%), inset 0 8px 8px -8px rgba(0, 0, 0, 40%);
        overflow-y: scroll;
        padding: 20px 0;
    }

    .friendsTitle{

        h1{
            margin: 25px;
            border-bottom: solid 2px #E1E1E1;
        }
     
        img{
            display: none;
        }
    }

    .friends{
        width: 90%;
        height: 73px;
        border-bottom: 1px solid var(--stroke, #707070);
        display: flex;
        align-items: center;
        padding: 30px;
        cursor: pointer;

        
        &:hover{
            transition: .3s;
            transform: translate(5px);
            -webkit-animation: color-change-3x 4s linear infinite alternate both;
            animation: color-change-3x 4s linear infinite alternate both;
        }
        
        &:nth-last-child(1){
            border-bottom: none;
            
            &:hover{
                animation: none;
                -webkit-animation: none
            }
        }
        
        .friendsPhotoUrl{
            height: 50px;
            aspect-ratio: 1/1;
            border-radius: 100%;
            margin-right: 20px;
        }
    }
}


@media screen and (max-width: 1250px) {
    .boxF {
        font-size: .9rem;  
        

        .friends .friendsPhotoUrl{
            height: 30px;
            aspect-ratio: 1/1;
            border-radius: 100%;
        }
    }


    

    /* Add more styles for even smaller screens as needed */
}

@media screen and (max-width: 1140px) {
    .boxF {
        // display: none;
        height: 70vh;
        width: auto;
        border-radius: 32px;
        max-height: 60%;

        .friendsContainer{
            padding: 0 0 60px 0;
        }

        .friendsTitle{
            display: flex;
            align-items: center;
            justify-content: center;

            h1{
                display: none;
            }

            img{
                display: block;
                aspect-ratio: 1/1;
                height: 30px;
                margin: 10px 0;
            }
        }

        .friends{

            display: flex;
            justify-content: center;
        
            p{
                display: none;
            }

            .friendsPhotoUrl{
                margin: 0;
            }
        }


    }


    

    /* Add more styles for even smaller screens as needed */
}