
@use '../../styles/abstracts/mixins' as *;
@use '../../styles/abstracts/variables' as *;


.postContainerPerfil{
    
    height: 751px;
    width: 657px;
    margin-top: 35px;
    background-color: white;
    display: flex;
    flex-direction: column;
    border: 2px solid #707070;
    margin: 35px auto;


    .postTopPerfil{
        display: flex;
        flex-direction: row;
        background-color: #2D2D30;
        width: 100%;
        height: 196px;
        align-items: center;
        justify-content: space-around;
        border-bottom: 1px solid rgba(255, 255, 255, 0.20);
        color: white;

        
        .avatarUser{
            height: 80px;
            aspect-ratio: 1/1;
            box-shadow: 0px 0px 6px 2px rgba(109, 109, 109, 0.25);
            border-radius: 67px;
            border: 1px solid #707070;
        }
    }

    .posts{
        overflow-y: scroll;
        height: 555px;
        width: 100%;
        background-color: #232123;

        .grid{
            width: 633.999px;
            margin: auto;
            display: grid;
            gap: 0px;
            grid-template-columns: repeat(3, 2fr);
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
}

::-webkit-scrollbar {display: none;}