@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;


.entry{
    width: 100%;
    height: 100vh;
    @include center();
    background: linear-gradient(to bottom, $black, #2F3134);

    z-index: 1;
    position: relative;


    .formWrapper{
        position: relative;
        z-index: initial;

        color: clr(text);
        font-weight: 300;
        @include center();
        flex-direction: row;
        height: auto;
        column-gap: 20px;
        padding: 20px;
        
        box-shadow: 2px 2px 20px rgba(0, 0, 0, 20%);
        background: rgba($black, 60%);
        border: 1px solid #707070;
        // background: rgba(31, 32, 36, 0.87);
        
        
        form{
            @include center();
            justify-content: initial;
            flex-direction: column;
            gap: 45px 0;
            height: 100%;
            width: 420px;
            
            
            //background: #585858;
            
            //////
            

            h1{
                font-weight: 400;
                text-transform: uppercase;           
                
            }       

            .inputs,
            .buttons{
                display: flex;
                flex-direction: column;
            }

            $w: 70%;
            
            .inputs{                

                width: $w;
                
                input{
                    outline: none;
                    border: none;
                    width: 100%;
                    padding: 14px 20px;
                    border-radius: 25px;
                    box-shadow: 2px 2px 5px rgba(0, 0, 0, 20%);

                    &:nth-child(2){ // 2 / 4
                        margin-bottom: 10px;
                    }
                }
                
                label{
                    text-transform: capitalize;
                    margin-left: 14px;
                    font-size: .9rem;
                }

                
            }


            .buttons{
                
                width: $w;

                button{
                    background: $c1;
                    color: clr(text);
                    border: none;
                    width: 85%;
                    padding: 14px 16px;
                    margin: 0 auto;
                    transition: .2s;
                    box-shadow: 2px 2px 5px rgba(0, 0, 0, 20%);

                    &:nth-child(3){
                        margin-bottom: 10px;
                    }

                    
                    &[id='googleBtn']{
                        background: $c2;
                    }

                    &:hover{
                        filter: brightness(120%);
                        color: #c5c5c5;
                    }
                }


                .line{
                    @include center();
                    margin: 10px 0; // margin up and down 10px

                    p{
                        text-align: center;
                        position: relative;;

                        &::before{
                            content: '';
                            position: absolute;
                            background: clr(text);
                            width: 80px;
                            height: 1px;
                            
                            top: .65rem;
                            right: 28px;
                        }
                        &::after{
                            content: '';
                            position: absolute;
                            background: clr(text);
                            width: 80px;
                            height: 1px;
                            
                            top: .65rem;
                            left: 28px;
                        }
                    }
                }
            }


        }

        img{
            height: 100%;
            aspect-ratio: 1/1;
        }
    }
}