@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;



.HomeContainer{
    height: auto;
    width: 100vw;
    background: clr(dark, 100);
    @include center();
    justify-content: space-between;
    position: relative;
    z-index: 10;
    


    
}