@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;



.homeContainer{
    min-height: 100vh;
    width: 100vw;
    padding-top: 80px;
    background: clr(dark, 100);
    position: relative;
    z-index: 10;
    
    .homeContent{
        height: 100%;        
        display: flex;
        justify-content: space-between;        
    }
}
