
@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;





.registerContainer .formWrapper form{
    gap: 0;

    .inputs{                
        
        input{
            background-color: clr(dark, 500);
            color: clr(text, 200);
            margin-bottom: 10px !important;
            cursor: text;

        }
    }    
}

.registerContainer{
    
    .formWrapper{
        width: auto;
    }

    #ball1{
        $radius: 180px;
        width: $radius;
        height: $radius;
        border-radius: 100%;
    
        position: absolute;
        z-index: -1;
    
        top: -30px;
        right: -80px;
        
        background: rgba(30, 216, 92, 0.9);
        filter: blur(4rem);
    
        -webkit-animation: slide-top 3s ease-in-out infinite alternate ;
        animation: slide-top 3s ease-in-out infinite alternate ;
    }
    #ball2{
        $radius: 100px;
        width: $radius;
        height: $radius;
        border-radius: 100%;
    
        position: absolute;
        z-index: -1;
    
        bottom: -20px;
        left: -50px;
        
        background: rgba(51, 75, 212, 0.9);
        filter: blur(3rem);
    
        -webkit-animation: slide-top 2s ease-in-out infinite alternate ;
        animation: slide-top 2s ease-in-out infinite alternate 1s;
    }
    
}


