@use '../../styles/abstracts/variables' as *;

.chatDiv {
    width: 40%;
    height: 80vh;
    background: linear-gradient(180deg, #2F2F2F 0%, #2D2D30 100%);
    margin: 35px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    border: solid 1px #707070;

    .topChat {
        width: 100%;
        height: 7%;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 15px;
        padding: 20px;
        background-color: transparent;
        font-size: 24px;
        border-bottom: solid 1px #707070;
        color: white;
    }

    .msgChat {
        width: 100%;
        height: 83%;
        display: flex;
        flex-direction: column;
        overflow: scroll;

        .sentMsg {
            width: 342px;   
            height: auto;
            padding: 20px;
            border-radius: 30px;
            background-color: orange;
            align-self: flex-end;
            margin: 20px;
        }

        .receivedMsg {
            width: 342px;   
            height: auto;
            padding: 20px;
            border-radius: 30px;
            background-color: rgb(28, 186, 73);
            align-self: flex-start;
            margin: 20px;
        }
    }

    .bottomChat {
        height: 10%;
        width: 100%;
        background-color: transparent;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 12px;
        border-top: solid 1px #707070;

        input {
            width: 80%;
            height: 65px;
            border: none;
            border-radius: 30px;
            border: 1px solid var(--stroke, #707070);
            background: #232123;
            color: white;
            padding: 30px;
            font-size: 18px;
        }
    }
}