
@use '../../styles/abstracts/mixins' as *;
@use '../../styles/abstracts/variables' as *;

.postAll{
    margin-bottom: 35px;
}
.postContainer{
    position: relative;
    width: 544px;
    height: 700px;
    background-color: white;
    display: flex;
    flex-direction: column;
    border: 2px solid #707070;
    margin: 0px auto; //35px



    .postTop{
        display: flex;
        flex-direction: row;
        background-color: #2D2D30;
        width: 100%;
        height: 15%;
        align-items: center;
        justify-content: space-between;
        padding: 0 30px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.20);
        color: white;


        .followBtn{
            width: 134px;
            height: 44px;
            color: white;
            border: none;
            background: rgba(44, 44, 46, 0.99);
            border-left: solid 3px rgba(24, 89, 166, 0.70);
            border-top: solid 2px rgba(24, 89, 166, 0.70);
            box-shadow: 4px 2px 5px rgba(72, 171, 242, 0.21);
        }

        
        .postAvatar{
            aspect-ratio: 1/1;
            width: 60px;
            box-shadow: 0px 0px 6px 2px rgba(109, 109, 109, 0.25);
            border-radius: 100%;
            border: 1px solid #707070;
        }
    }


    .postImg{
        height: 77%;
        background-color: #232123;
        overflow: hidden;
        aspect-ratio: 3/4;

        img{
            aspect-ratio: 3/4;
            width: 100%;
            height: 100%;
        }
    }


    .postBottom{
        position: absolute;
        bottom: 0;
        height: 8%;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        background-color: #2D2D30;
        border-top: 1px solid rgba(255, 255, 255, 0.21);

        .btn1 {
            display: flex;
            align-items: center;
            flex-direction: row;
            //gap:21px;

            img {
                margin-left: 21px;
            }

            #commentsIcon{
                cursor: pointer;
            }

            .statusbtn{
                color: white;
                font-size: 20px;
                margin-left: 5px;
            }
        }

    }

    #postTitle{
        color: clr(text);
        text-align: center;
        padding: 14px 0;
        text-transform: uppercase;
        font-size: 1.4rem;
    }
}

.comments {
    
    width: 544px;
    height: auto;
    max-height: 500px;
    background-color: #232123;
    margin-bottom: 35px;
    display: flex;
    // display: none;
    flex-direction: column;
    overflow: scroll;
    color: white;
    border: 2px solid #707070;
    border-top: none;

    .commentUserAvatar{
        width: 40px;
        aspect-ratio: 1/1;
        border-radius: 100%;
    }

    .commentBox {
        margin-top: 15px;
        padding: 14px;
        display: flex;
        flex-direction: row;
        gap: 15px;

        .cmtBtn{
            margin: 25px 5px 0px 5px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            img{
                width: 24px;
            }

            button{
                margin-left: 20px;
                border: none;
                background-color: transparent;
                color: white;
                font-weight: 800;
            }
        }
    }
}