@use '../../styles/abstracts/mixins' as *;
@use '../../styles/abstracts/variables' as *;

.post{
    width: 211.333px;
    height: 195px;
    margin-top: 0px;
    border: 1px solid #555;
    // background-color: greenyellow;
    cursor: pointer;
    position: relative;

    .postPhotoURL{
        position: absolute;
        z-index: 0;
        aspect-ratio: 1/1;
        width: 100%;
        height: 100%;
        background: rgb(18,18,18);
        background: linear-gradient(0deg, clr(dark) 0%, clr(dark, 100) 100%);
        
    }

    .status{
        width: 100%;
        height: 100%;
        z-index: 1;
        background: rgba(clr(dark, 050), 20%);
        position: relative;
    }

    .icons{
        width: 100%;
        bottom: 0;
        position: absolute;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 5px 0;
        background: rgba(clr(dark, 050), 10%);
        backdrop-filter: blur(5px);

        img{
            width: 20px;
        }

        p{
            z-index: 2;
            text-transform: uppercase;
            font-weight: bold;
            color: clr(text);
            text-shadow: 1px 1px 4px clr(dark);
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0 5px;
        }
    }
}