
@use '../../styles/abstracts/mixins' as *;
@use '../../styles/abstracts/variables' as *;


#PostsContainer{
    margin: 35px auto;
    display: flex;
    flex-direction: column; 
    //width: 100%;
    // background-color: white;

}