@use '../../styles/abstracts/mixins' as *;
@use '../../styles/abstracts/variables' as *;


#navbar{
    width: 100%;
    height: 80px;
    background-color: clr(dark);
    color: clr(text);
    position: fixed;
    z-index: 5;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    justify-content: space-between;
    padding: 0px 15px;
    box-shadow:0 2px 2px rgba(109, 109, 109, 0.25);


    .col1, .col2{
        display: flex;
        gap: 30px;


        img{
            width: 28px;
            height: auto;
            aspect-ratio: 1/1;
            // border-radius: 100%;
            cursor: pointer;
            transition: .2s;

            &:hover{
                transform: translateY(-3px);
            }

            &:active{
                transform: translateY(2px);
            }
        }

    }

    .logo {
        position: relative;
        font-size: 25px;
        color: clr(text);
        text-decoration: none;
        font-weight: 600;
        height: 100%;

        .logoImg{
            position: absolute;
            height: 60px;
            top: 50%;
            transform: translateY(-50%) translateX(25px);
        }
    }
    
    
    .navbarAvatar{
        width: 58px;
        box-shadow: 0px 0px 6px 2px rgba(109, 109, 109, 0.25);
        border-radius: 67px;
        border: 1px solid #707070;
        aspect-ratio: 1/1;
    }

    
    .searchSpan{
        width: 42%;
        position: relative;

        &::after{
            content: '';
            background-image: url('../../../src/assets/icons/fluent-mdl2_search.png');
            background-repeat: no-repeat;
            background-size: cover;
            width: 28px;
            height: 28px;
            position: absolute;
            top: 50%;
            right: 18px;
            transform: translate(0, -50%);
            cursor: pointer;
        }
    }

    .search{
        width: 100%;
        height: 40px;
        padding: 20px 60px 20px 20px;
        border-radius: 30px;
        outline: none;
        color: clr(text);
        border: 0.4px solid rgba(255, 255, 255, 0.10);
        background: clr(dark, 100);
        box-shadow: 0px 0px 7px 0px rgba(233, 246, 255, 0.22);
        position: relative;        
    } 

    
}