

.boxMenu{
    width: 378px;
    min-height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(180deg, #232123 0%, #232123 78.65%, #222127 100%);


    .opcs{
        width: 90%;
        height: 73px;
        border-bottom: 1px solid var(--stroke, #707070);
        display: flex;
        align-items: center;
        color: white;
        padding: 30px;
    }
}

