@use '../../styles/abstracts/variables' as *;

.addFBox {
    width: 40%;
    height: 80vh;
    background: #232123;
    margin: 35px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 40px;

    .fSearch {
        width: 100%;
        height: 10%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border-bottom: solid 1px #707070;
        gap: 15px;

        input {
            width: 80%;
            height: 50%;
            border-radius: 30px;
            border: none;
            border: 1px solid var(--stroke, #707070);
            background: #232123;
            color: white;
            padding: 30px;
            font-size: 18px;
        }
    }

    .fList {
        width: 100%;
        height: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        //padding-top: 15px;
        
        .friendS {
            width: 100%;
            height: 10%;
            background-color: linear-gradient(180deg, #232123 0%, #232123 78.65%, #222127 100%);
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            gap: 15px;
            color: white;
            //border-top: 1px solid var(--stroke, #707070);
            border-bottom: 1px solid var(--stroke, #707070);

            .infosF1 {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                margin-left: 5%;
                gap: 10px;
            }
            
            .infosF2{
                display: flex;
                flex-direction: row;
                gap: 15px;
                align-items: center;
                justify-content: flex-end;
                margin-right: 5%;
            }
        }
    }
}