@use '../../styles/abstracts/variables' as *;

.addFBox {
    width: 40%;
    height: 80vh;
    background: #232123;
    margin: 35px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    max-width: 600px;
    overflow: hidden;

    .fSearch {
        width: 100%;
        height: 10%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border-bottom: solid 1px #707070;
        gap: 15px;

        input {
            width: 75%;
            height: 50%;
            border-radius: 30px;
            border: none;
            border: 1px solid var(--stroke, #707070);
            background: #232123;
            color: white;
            padding: 20px;
            font-size: 18px;
        }
    }

    .fList {
        width: 100%;
        height: 90%;
        padding: 10px 0 20px 0;
        // gap: 20px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        //padding-top: 15px;
        overflow: scroll;
        box-shadow: inset 0 4px 15px -2px rgba(0, 0, 0, 20%), inset 0 -8px 12px -8px rgba(0, 0, 0, 40%);
        
        .friendS {
            width: 100%;
            height: 80px;
            background-color: linear-gradient(180deg, #232123 0%, #232123 78.65%, #222127 100%);
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            gap: 15px;
            color: white;
            //border-top: 1px solid var(--stroke, #707070);
            padding: 20px 0;
            border-bottom: 1px solid var(--stroke, #707070);

            .infosF1 {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                margin-left: 5%;
                gap: 10px;

                .fAvatar {
                    height: 55px;
                    aspect-ratio: 1/1;
                    border-radius: 100%;
                }
            }
            
            .infosF2{
                display: flex;
                flex-direction: row;
                gap: 15px;
                align-items: center;
                justify-content: flex-end;
                margin-right: 5%;
            }
        }
    }
}