@use '../../styles/abstracts/variables' as *;



.chat{

    width: 657px;
    max-height: 90vh;
    border-radius: 30px;
    background: clr(dark, base);
    margin: 35px auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    
    .search{
        margin-top: 10px;
        width: 100%;
        height: 40px;
        padding: 20px 58px 20px 20px;
        border-radius: 30px;

        outline: none;
        color: clr(text);
        border: 0.4px solid rgba(255, 255, 255, 0.10);
        background: clr(dark, 100);
        box-shadow: 0px 0px 7px 0px rgba(233, 246, 255, 0.05);
        position: relative;       
        z-index: 2;
    }

    .chats{
        margin: 10px 0;
        overflow: auto;
    }

    h1{
        color: clr(text);
        text-transform: capitalize;
        text-align: center;
        cursor: pointer;
        width: 50%;
        user-select: none;
        margin-top: 5px;
    }

    .toggleChatTop{
        border-bottom: 1px solid clr(dark, 400);
    }


    .toggleChat{
        
        width: 100%;
        min-height: 3rem;
        display: flex;
        justify-content: space-evenly;


        p{
            color: clr(text);
            font-size: 1.3rem;
            transition: .2s;
            padding: 10px 0;
            width: 50%;
            text-align: center;
            cursor: pointer;
            user-select: none;

            &:hover{
                text-shadow: 1px 1px 4px rgba(255, 255, 255, 20%);
                background: clr(dark, 200);
                
            }
            &:active{
                text-shadow: 1px 1px 4px rgba(255, 255, 255, 40%);
                background: clr(dark, 300);
            }
        }

        hr{
            background: clr(dark, 400);
            width: 1.6px;
            margin: 4px 0;
            border: none;
        }
    }
}