@use '../../styles/abstracts/variables' as *;

#Chat, #Chat2{
    width: 576px;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 0 40px;
    // background: clr(dark, 300);
    position: relative;
    border-bottom: 1px solid clr(dark, 400);
    transition: .2s;
    cursor: pointer;    

    &:last-child{
        border-bottom: none;
    }

    &:hover{
        transform: translateX(10px);
        border-bottom: 1px solid white;
    }

    img{
        width: 60px;
        border: 0px solid black;
        aspect-ratio: 1/1;
        border-radius: 100%;
    }

    .box{
        text-align: center;
        margin-left: 20px;
        color: clr(text);
    }

    .username{
        text-align: left;
    }

    .lastMessage{
        text-align: left;
        color: clr(colors, 100);
    }

    button{
        position: absolute;
        right: 40px;
        padding: 10px 24px;
        border: none;
        border-radius: 20px;
        color: clr(text);
        background: clr(colors, 100);
        transition: .2s;
        cursor: pointer;
        &:hover{
            filter: brightness(110%);
        }
        &:active{
            transform: translateY(0);
            filter: brightness(80%);
        }
    }

}

